.container {
    align-items: center;
    align-content: center;
}
/* //////////// */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
h1{
  text-align: center;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}

/* --------------- End of Navbar ---------------- */

/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */


#logo {
    display: flex;
    position:relative;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 1, 0, 0.021);
    margin-bottom: 30px;
    flex-wrap: wrap;
}
#name {
    justify-content: center;
}
#name img {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-top: 120px;
   
    
    
}
#logo-image img {
    position: relative;
    padding: 10px;
    max-width: 450px;
    width: 60%;
    height: 60%;
}
#social {
  text-align: center;
}
#formMessage {
  background-color: gray;
  text-align: center;
  background-size: cover;
  justify-content: center;
}
#nameEmailSection {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  
}
#useremail {
  background-color:rgba(0, 0, 0, 0);
  border-style:solid;
  border-color: white;
  color: white;
  margin-left: 10px;
  
 
 
}
#username{
  background-color:rgba(0, 0, 0, 0);
  border-style:groove;
  border-color: white;
  
 
}
#messageBox {
  background-color:rgba(0, 1, 0, 0.021);
  border-style:solid;
  border-color: white;
  color: white;
  margin-left: 10px;
  width: 500px;
  height: 200px;
  

}
#submit {
  background-color:rgba(0, 0, 0, 0);
  margin-top: 20px;
  color:white;
  background-color: blue;
  font-weight: bolder;
  float: right;
  margin-right: 300px;
 
}




