.container {
    align-items: center;
    align-content: center;
}
#navbar{
    background-color: darkslateblue;
    line-height: 2;
    color: white;
}
#logo {
    display: flex;
    position:relative;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 1, 0, 0.021);
    margin-bottom: 30px;
    flex-wrap: wrap;
}
#name {
    justify-content: center;
}
#name img {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-top: 120px;
   
    
    
}
#logo-image img {
    position: relative;
    padding: 10px;
    max-width: 450px;
    width: 60%;
    height: 60%;
}
#icons1,#icons2 {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}
#icons1 img {
    max-width: 280px;
    width: 100%;
    position: relative;
    padding: 5px;
    max-height: fit-content;
    height: auto;
    margin-left: 10%;
    
}
#icons2 img {
    max-width: 280px;
    width: 100%;
    position: relative;
    padding: 5px;
    max-height: fit-content;
    height: auto;

}
.hidden {
    display: non;
    text-align: center;
    position: relative;
    bottom: 0;
  



}
.btn-order {
    color: blue;
    background-color: rgb(15, 223, 15);
    margin-left:10%;
    margin-bottom: 30px;
    position:absolute;
    margin-top: 220px;
    font-size: ;

}

.container2 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1px;

}
.container3 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1px;
    
    

}

.container2 {
    display: flex;
}

.content {
    display: flex;
    position: relative;
    width: fit-content;
    height: 200px;
    margin: 50px;
    margin-left: 10px;
    text-align: center;
    background-color:black;
    background-size: 100%;
    padding: 10px;

    
    
    
    }
    .content div{
        position: absolute;
        bottom: 0;
        left: 0;
        border: 5px solid white;
        width: 100%;
        height: 100%;
        
        /* margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 10px; */
        color: white;
        display: none;
        
    }

zz