.container {
    align-items: center;
    align-content: center;
}
/* //////////// */

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
  }
  /* --------------- Navbar ---------------- */
  .navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }

  /* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
   
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  
  /* ---------------End of Products ---------------- */
  /* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    /* visibility: hidden; */
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    /* transform: translateX(100%); */
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  /* --------------- End of Cart ---------------- */



  /* /////////////////////////////// */



#logo {
    display: flex;
    position:relative;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 1, 0, 0.021);
    margin-bottom: 30px;
    flex-wrap: wrap;
}
#name {
    justify-content: center;
}
#name img {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-top: 120px;
   
    
    
}
#logo-image img {
    position: relative;
    padding: 10px;
    max-width: 450px;
    width: 60%;
    height: 60%;
}
#icons1,#icons2 {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}
#icons1 img {
    max-width: 280px;
    width: 100%;
    position: relative;
    padding: 5px;
    max-height: fit-content;
    height: auto;
    margin-left: 10%;
    
}
#icons2 img {
    max-width: 280px;
    width: 100%;
    position: relative;
    padding: 5px;
    max-height: fit-content;
    height: auto;

}
.hidden {
    display: non;
    text-align: center;
    position: relative;
    bottom: 0;
  



}
.btn-order {
    color: blue;
    background-color: rgb(15, 223, 15);
    margin-left:10%;
    margin-bottom: 30px;
    position:absolute;
    margin-top: 220px;
    

}
.price {
    margin-left:0%;
    margin-bottom: 30px;
    position:absolute;
    margin-top: 0px;
    font-size:x-large;
    color: white;
}

.container2 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1px;

}
.container3 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1px;
    
    

}

.container2 {
    display: flex;
}

.content {
    display: flex;
    position: relative;
    width: fit-content;
    height: 200px;
    margin: 50px;
    margin-left: 10px;
    text-align: center;
    background-color:black;
    background-size: 100%;
    padding: 10px;

    
}
.content div{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 5px solid white;
    width: 100%;
    height: 100%;
    
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 10px; */
    color: white;
    display: none;
    
}
#orderImage{
    width:430px ;
    position: relative;
}
#orderImage img{
    width: 100%;
}
#orderRow {
    background-color:rgb(230, 219, 219);
    display: flex;

}


